#screen{
  width: 320px;
  height: 288px;
  border:1px solid black;
  margin-left: auto;
  margin-right: auto;
  overflow:hidden;
}

#location{
  background-image:url("../tiles/ground.png");
  position:relative;
  top:0px;
  left:0px;

}

#player{
  background-image:url("../sprites/up.png");
  width:28px;
  height:32px;
  position: relative;
  top:120; /* +8 initial point */
  left:130; /* +2 initial point */
}
