#screen{
  width: 320px;
  height: 288px;
  border:1px solid black;
  margin-left: auto;
  margin-right: auto;
  overflow:hidden;
}

#location{
  background-image:url("../tiles/ground.png");
  position:relative;
}

#player{
  background-image:url("../sprites/up.png");
  width:28px;
  height:32px;
  position: relative;
}

#borderTop{
  height:160px;
  width:608px;
  position:relative;
  float: left;
}

#borderLeft{
  height:448px;
  width:160px;
  position:relative;
  float: left;
}

#borderRight{
  height:448px;
  width:160px;
  position:relative;
  float: left;
}

#borderDown{
  height:128px;
  width:352px;
  position:relative;
  float: left;
}
